<ion-card (click)="personTapped($event)">
    <img src="http://www.placecage.com/300/200">  
  <ion-card-content>
    <ion-item>
        <ion-icon *ngIf="person.gender === 'female'" name="female" item-left></ion-icon>
        <ion-icon *ngIf="person.gender === 'male'" name="male" item-left></ion-icon>
        <ion-icon *ngIf="person.gender === 'n/a'" name="logo-android" item-left></ion-icon>
        <ion-card-title>{{title}}</ion-card-title>
    </ion-item>
    <ion-item>
        <ion-icon name="planet" item-left></ion-icon>
        {{homeworld.name}}
    </ion-item>
    <ion-item>
        <ion-icon name="jet" item-left></ion-icon>
        Starships
        <ion-badge item-right>{{person.starships.length}}</ion-badge>
    </ion-item>
    <ion-row>
        <ion-col>
        <button color="secondary" ion-button round block icon-left>
            <ion-icon name="checkmark"></ion-icon>
            Sure
        </button>
        </ion-col>
        <ion-col>
        <button color="danger" ion-button round block icon-left>
            <ion-icon name="close"></ion-icon>
            Nope
        </button>
        </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>